* {
	@include box-sizing(border-box);
}
*:before,
*:after {
	@include box-sizing(border-box);
}


// Body reset

html {
	font-size: 10px;
	-webkit-tap-highlight-color: rgba(0,0,0,0);
}


body {
	font-family: $font-base;
	font-size: $font-size-base;
	line-height: $line-height-base;
	color: $text-color;
	background-color: $body-bg;
}


// Reset fonts for relevant elements
input,
button,
select,
textarea {
	font-family: inherit;
	font-size: inherit;
	line-height: inherit;
}


.container {
	position: relative;
	@include clearfix();
}


// Links

a {
	color: $link-color;

	&:hover,
	&:focus {
		outline: none;
	}

	&:hover {
		text-decoration: none;
	}
}


// Headings

h1, h2, h3, h4 {
	margin: 0;
	padding: 0;
	font-weight: 400;
}

h1 {
	font-size: 30px;
	line-height: 1.1;
	margin-bottom: 25px;
	font-family: $font-second;

	@media (min-width: $screen-md-min) {
		font-size: 36px;
	}

	@media (min-width: $screen-lg-min) {
		font-size: 36px;
	}
}

h2 {
	font-size: 30px;
	line-height: 1.1;
	margin-bottom: 30px;
	font-family: $font-second;

	@media (min-width: $screen-md-min) {
		font-size: 40px;
	}

	@media (min-width: $screen-lg-min) {
		font-size: 50px;
	}
}

h3 {
	font-size: 24px;
	line-height: 1.25;
	padding-top: 10px;
	margin-bottom: 15px;
	font-family: $font-second;

	@media (min-width: $screen-lg-min) {
		font-size: 30px;
		margin-bottom: 20px;
	}
}

p {
	padding: 0;
	margin: 0 0 15px 0;
}

ul {
	margin: 0;
	padding: 0;
	list-style: none;
}


.color-blue {
	color: $color-blue;
}