.main {
	max-width: 100%;
	overflow: hidden;
	position: relative;
	background: #f6f6f8;
	border-bottom: 6px solid $color-blue;

	.container {
		z-index: 5;
		padding-top: 55px;
		padding-bottom: 55px;
	}

	.main-content {
		z-index: 10;
		max-width: 345px;
		position: relative;
	}

	h1 {
		font-size: 30px;
		line-height: 40px;
		margin-bottom: 15px;
		font-family: $font-second;
	}

	.main-text {
		font-size: 18px;
		line-height: 24px;
		margin-bottom: 24px;
	}

	.main-image {
		z-index: 2;
		bottom: 0;
		width: 450px;
		right: -130px;
		position: absolute;
		@include opacity(0.3);
	}

	.main-line {
		top: 0;
		right: 0;
		z-index: 3;
		width: 126px;
		position: absolute;
	}

	@media (min-width: $screen-xs-min) {


		.main-image {
			width: 460px;
			right: -60px;
			@include opacity(1);
		}
	}


	@media (min-width: $screen-sm-min) {

		.container {
			padding-top: 105px;
			padding-bottom: 80px;
		}

		.main-content {
			max-width: 410px;
		}

		h1 {
			font-size: 36px;
			line-height: 56px;
		}

		.main-text {
			font-size: 20px;
			line-height: 25px;
			margin-bottom: 30px;
		}

		.main-image {
			width: 700px;
			right: -100px;
		}

		.main-line {
			right: 305px;
			width: 160px;
		}
	}

	@media (min-width: $screen-md-min) {

		.main-image {
			width: 780px;
			right: -90px;
		}

		.main-line {
			top: 18px;
			width: 250px;
			right: 385px;
			@include rotate(8deg);
		}
	}

	@media (min-width: $screen-lg-min) {

		.container {
			padding-top: 105px;
			padding-bottom: 124px;
		}

		.main-content {
			max-width: 635px;
		}

		h1 {
			font-size: 56px;
			line-height: 76px;
			margin-bottom: 20px;
		}

		.main-text {
			font-size: 24px;
			line-height: 30px;
			margin-bottom: 36px;
		}

		.main-image {
			width: 900px;
			right: -100px;
		}

		.main-line {
			visibility: hidden;
			@include opacity(0);
		}
	}
}


// offer block --

.offer {
	max-width: 100%;
	overflow: hidden;
	position: relative;
	background: #ffffff;

	&:before {
		top: 0;
		left: 0;
		width: 1px;
		height: 1px;
		content: '';
		position: absolute;
		visibility: hidden;
		background: url("../images/offer_bg.jpg") 0 0 no-repeat;
		@include opacity(0);
	}

	.container {
		padding-top: 30px;
		padding-bottom: 40px;
	}

	.offer-content {
		z-index: 10;
		position: relative;
	}

	.offer-image {
		z-index: 1;
		bottom: 0;
		left: 50%;
		visibility: hidden;
		position: absolute;
		@include opacity(0);
	}

	.offer-heading {
		padding: 0;
		z-index: 5;
		list-style: none;
		position: relative;
		margin: 0 -15px 24px -15px;
		@include clearfix();

		> li {
			width: 50%;
			padding: 0 15px;
			text-align: center;

			&:first-child {
				float: left;

				h4 {

					&:before {
						top: 100%;
						content: '';
						right: -10px;
						width: 311px;
						height: 122px;
						position: absolute;
						background: url("../images/offer_heading_left_arrow_md.png") 0 0 no-repeat;
						visibility: hidden;
						@include opacity(0);
					}

					&:after {
						top: 100%;
						content: '';
						right: -55px;
						width: 357px;
						height: 160px;
						position: absolute;
						background: url("../images/offer_heading_left_arrow_lg.png") 0 0 no-repeat;
						visibility: hidden;
						@include opacity(0);
					}
				}
			}

			&:last-child {
				float: right;

				h4 {

					&:before {
						top: 100%;
						content: '';
						left: -40px;
						width: 311px;
						height: 122px;
						position: absolute;
						background: url("../images/offer_heading_right_arrow_md.png") 0 0 no-repeat;
						visibility: hidden;
						@include opacity(0);
					}

					&:after {
						top: 100%;
						content: '';
						left: -55px;
						width: 357px;
						height: 160px;
						position: absolute;
						background: url("../images/offer_heading_right_arrow_lg.png") 0 0 no-repeat;
						visibility: hidden;
						@include opacity(0);
					}
				}
			}
		}

		h4 {
			font-size: 24px;
			line-height: 1.1;
			margin-bottom: 0;
			position: relative;
			font-family: $font-second;
		}
	}

	.offer-row {
		padding: 0;
		margin: 0 -15px;
		list-style: none;
		@include clearfix();

		> li {
			width: 50%;
			padding: 0 15px;

			&:first-child {
				float: left;
			}

			&:last-child {
				float: right;
			}
		}
	}

	.offer-list {
		margin: 0;
		z-index: 10;
		list-style: none;
		position: relative;
		padding: 0 0 10px 0;

		li {
			font-size: 13px;
			background: #fff;
			text-align: center;
			margin-bottom: 10px;

			a {
				color: #333;
				width: 100%;
				height: 60px;
				padding: 1px 5px;
				@include flexbox();
				text-decoration: none;
				border: 1px dashed #b1b8be;

				&:hover {
					color: $color-blue;
					border-color: $color-blue;
				}
			}

			span {
				margin: auto;
				display: inline-block;
			}
		}
	}

	.btn-border {
		width: 100%;
		font-size: 14px;
	}



	@media (min-width: $screen-xs-min) {

		.offer-heading {

			h4 {
				font-size: 30px;
			}
		}

		.offer-list {

			li {
				font-size: 16px;
			}
		}
	}

	@media (min-width: $screen-sm-min) {

		.offer-list {

			li {

				a {
					padding: 1px 10px;
				}
			}
		}
		.btn-border {
			width: 100%;
			font-size: 18px;
		}
	}


	@media (min-width: $screen-md-min) {

		.container {
			padding-bottom: 60px;
		}

		.offer-heading {
			margin-bottom: 140px;

			> li {

				&:first-child {
					width: 360px;
					text-align: right;

					h4 {

						&:before {
							visibility: visible;
							@include opacity(1);
						}
					}
				}

				&:last-child {
					width: 315px;
					text-align: left;

					h4 {

						&:before {
							visibility: visible;
							@include opacity(1);
						}
					}
				}
			}

			h4 {
				font-size: 40px;
			}
		}

		.offer-row {

			> li {
				width: 260px;
			}
		}

		.offer-image {
			width: 620px;
			visibility: visible;
			margin-left: -330px;
			@include opacity(1);
		}
	}

	@media (min-width: 1300px) {

		.container {
			padding-top: 55px;
			padding-bottom: 140px;
		}

		.offer-heading {
			margin-bottom: 65px;

			> li {

				&:first-child {
					width: 260px;
					text-align: center;

					h4 {
						font-size: 50px;

						&:before {
							visibility: hidden;
							@include opacity(0);
						}

						&:after {
							visibility: visible;
							@include opacity(1);
						}
					}
				}

				&:last-child {
					width: 260px;
					text-align: center;

					h4 {

						&:before {
							visibility: hidden;
							@include opacity(0);
						}

						&:after {
							visibility: visible;
							@include opacity(1);
						}
					}
				}
			}

			h4 {
				font-size: 40px;
			}
		}

		.offer-image {
			width: 660px;
			margin-left: -330px;
		}
	}
}


// About block

.about {
	font-size: 16px;
	line-height: 27px;
	padding-top: 40px;
	padding-bottom: 40px;
	background: #edf0f4 url('../images/about_bg.jpg') -2000px 100% no-repeat ;

	h2 {
		text-align: center;
	}

	.about-btn {
		padding-top: 10px;
		text-align: center;
	}

	@media (min-width: $screen-md-min) {
		background-position: 50% 100%;

		h2 {
			text-align: left;
			margin-bottom: 30px;
		}

		.about-btn {
			text-align: left;
		}
	}

	@media (min-width: $screen-lg-min) {
		padding-top: 50px;
		padding-bottom: 60px;
	}
}


// After block

.after {
	max-width: 100%;
	overflow: hidden;
	padding-top: 30px;
	background: #f5f3f4;
	padding-bottom: 40px;

	h2 {
		margin-bottom: 10px;
		text-align: center;
	}

	.subtitle {
		font-size: 16px;
		text-align: center;
		margin-bottom: 25px;
	}

	.comparison {
		background: #fff;
		margin-bottom: 30px;
		@include box-shadow(0px 0px 7px 0px rgba(28, 35, 37, 0.2));

		.comparison-title {
			font-size: 22px;
			line-height: 30px;
			text-align: center;
			padding: 15px 10px;
		}
	}

	.btn {
		margin-top: 20px;
	}

	.after-arrow-right {
		top: 80px;
		left: 100%;
		content: '';
		width: 110px;
		height: 359px;
		margin-left: 70px;
		position: absolute;
		background: url("../images/after_arrow_right.png") 0 0 no-repeat;

		visibility: hidden;
		@include opacity(0);
	}

	.after-arrow-left {
		bottom: -20px;
		left: -150px;
		content: '';
		width: 141px;
		height: 235px;
		position: absolute;
		background: url("../images/after_arrow_left.png") 0 0 no-repeat;

		visibility: hidden;
		@include opacity(0);
	}

	@media (min-width: $screen-sm-min) {
		padding-top: 45px;
		padding-bottom: 50px;
	}

	@media (min-width: $screen-md-min) {

		.subtitle {
			font-size: 20px;
			margin-bottom: 40px;
		}

		.comparison {

			.comparison-title {
				font-size: 24px;
			}
		}
	}

	@media (min-width: $screen-lg-min) {
		padding-top: 60px;
		padding-bottom: 70px;

		.subtitle {
			font-size: 22px;
			margin-bottom: 50px;
		}

		.after-arrow-left,
		.after-arrow-right {
			visibility: visible;
			@include opacity(1);
		}
	}
}



// Advantage Block

.advantage {
	max-width: 100%;
	overflow: hidden;
	background: #fff;
	padding-top: 30px;
	position: relative;
	padding-bottom: 30px;

	&:before {
		left: 50%;
		bottom: 0;
		z-index: 2;
		content: '';
		width: 1px;
		height: 1px;
		position: absolute;
		background: url("../images/advantage_bg.jpg") 50% 100% no-repeat;
		background-size: cover;

		visibility: hidden;
		@include opacity(0);
	}

	h2 {
		z-index: 5;
		text-align: center;
		position: relative;
		margin-bottom: 20px;
	}

	h4 {
		font-size: 24px;
		line-height: 1.1;
		margin-bottom: 20px;
		font-family: $font-second;
	}

	.advantage-list {
		margin: 0;
		padding: 0;
		list-style: none;
		position: relative;

		> li {
			font-size: 12px;
			line-height: 16px;
			margin-bottom: 15px;
			position: relative;

			&:before {
				top: 3px;
				width: 10px;
				height: 10px;
				content: ' ';
				position: absolute;
				display: inline-block;
				@include border-radius(50%);
			}

			&:last-child {
				margin-bottom: 0;
			}
		}

		&.advantage-left {

			> li {
				padding-left: 20px;

				&:before {
					left: 0;
					background: #333;
				}
			}

			&:before {
				left: 5px;
				bottom: 0;
				content: '';
				width: 1px;
				height: 1px;
				visibility: hidden;
				position: absolute;
				background: url("../images/advantage_arrow_left.png") 0 0 no-repeat;
			}
		}

		&.advantage-right {

			> li {
				padding-right: 20px;

				&:before {
					right: 0;
					background: $color-blue;
				}
			}

			&:before {
				right: 5px;
				bottom: 0;
				content: '';
				width: 1px;
				height: 1px;
				visibility: hidden;
				position: absolute;
				background: url("../images/advantage_arrow_right.png") 0 0 no-repeat;
			}
		}
	}

	.advantage-content {
		z-index: 5;
		position: relative;
	}

	@media (min-width: $screen-xs-min) {

		.advantage-list {

			> li {
				font-size: 15px;
				line-height: 20px;

				&:before {
					top: 5px;
				}
			}
		}
	}

	@media (min-width: $screen-sm-min) {
		padding-top: 50px;
		padding-bottom: 150px;

		&:before {
			width: 580px;
			height: 449px;
			margin-left: -320px;
			visibility: visible;
			@include opacity(1);
		}

		h2 {
			margin-bottom: 30px;
		}

		h4 {
			font-size: 30px;
		}

		.advantage-list {

			> li {
				font-size: 18px;
			}

			&.advantage-left {

				&:before {
					bottom: -130px;
					width: 236px;
					height: 102px;
					visibility: visible;
				}
			}

			&.advantage-right {

				&:before {
					bottom: -130px;
					width: 236px;
					height: 102px;
					visibility: visible;
				}
			}
		}
	}


	@media (min-width: $screen-md-min) {
		padding-bottom: 160px;

		&:before {
			width: 615px;
			height: 476px;
			margin-left: -355px;
		}

	}

	@media (min-width: $screen-lg-min) {
		padding-top: 70px;
		padding-bottom: 210px;


		&:before {
			width: 935px;
			height: 721px;
			margin-left: -500px;
		}

		h2 {
			margin-bottom: 40px;
		}

		h4 {
			font-size: 36px;
			margin-bottom: 30px;
		}

		.advantage-list {

			> li {
				font-size: 20px;
				margin-bottom: 35px;

				&:before {
					top: 7px;
					margin-bottom: 0;
				}
			}
		}
	}
}


// How block

.how {
	padding-top: 35px;
	padding-bottom: 35px;
	background: #f3f2f3 url("../images/how_bg.jpg") 5000px 100% no-repeat;

	h2 {
		text-align: center;
	}

	.how-image {
		margin: 0 auto;
		max-width: 639px;
	}

	.how-text {
		font-size: 16px;
		line-height: 22px;

		.how-title {
			font-size: 24px;
			font-weight: 300;
			line-height: 24px;
			margin-bottom: 10px;
			color: $color-blue;
			text-transform: uppercase;
		}

		ul {
			padding: 0;
			list-style: none;
			margin: 0 0 10px 0;

			li {
				position: relative;
				padding-left: 15px;

				&:before {
					left: 0;
					top: 8px;
					width: 7px;
					height: 7px;
					content: '';
					display: block;
					position: absolute;
					background: #00bbeb;
					@include border-radius(50%);
				}
			}
		}
	}

	@media (min-width: $screen-sm-min) {

		h2 {
			margin-bottom: 40px;
		}

		.how-text {
			font-size: 18px;
			line-height: 24px;
		}
	}

	@media (min-width: $screen-md-min) {

	}

	@media (min-width: $screen-lg-min) {
		height: 830px;
		padding-top: 70px;
		padding-bottom: 100px;
		background-position: 50% 100%;

		h2 {
			margin-bottom: 40px;
		}

		.how-row {
			width: 100%;
			display: table;

			.how-image {
				vertical-align: top;
				display: table-cell;
				padding-top: 70px;
			}

			.how-text {
				width: 380px;
				vertical-align: top;
				display: table-cell;

				.long {
					margin-right: -160px;
				}
			}
		}
	}
}



// Cert block

.cert {
	background: #fff;
	padding-top: 30px;
	padding-bottom: 40px;

	h2 {
		text-align: center;
	}

	.cert-list {
		margin: 0;
		padding: 0;
		font-size: 0;
		line-height: 0;
		list-style: none;
		@include clearfix();

		> li {
			margin-bottom: 30px;

			&:last-child {
				margin-bottom: 0;
			}
		}

		.cert-item {
			width: 255px;
			margin: 0 auto;
			position: relative;

			a {
				top: 28px;
				left: 28px;
				right: 27px;
				display: block;
				position: absolute;

				&:before {
					top: 50%;
					left: 50%;
					z-index: 5;
					content: '';
					width: 48px;
					height: 48px;
					position: absolute;
					visibility: hidden;
					margin: -24px 0 0 -24px;
					background: url("../images/icon_loop.png") 0 0 no-repeat;
					@include opacity(0);
				}

				&:after {
					top: 0;
					left: 0;
					right: 0;
					bottom: 0;
					z-index: 3;
					content: '';
					visibility: hidden;
					position: absolute;
					background: rgba(51,204,253,0.7);
					@include opacity(0);
				}

				&:hover {

					&:after,
					&:before {
						visibility: visible;
						@include opacity(1);
					}
				}
			}
		}
	}

	@media (min-width: $screen-xs-min) {

		h2 {
			margin-bottom: 30px;
		}

		.cert-list {
			margin: 0 -10px;

			> li {
				float: left;
				width: 33.33%;
				padding: 0 10px;
				margin-bottom: 0;
			}

			.cert-item {
				width: 100%;

				a {
					top: 7%;
					left: 10%;
					right: 10%;
				}
			}
		}
	}

	@media (min-width: $screen-sm-min) {
		padding-top: 40px;
		padding-bottom: 50px;

		h2 {
			margin-bottom: 40px;
		}

		.cert-list {
			margin: 0 -15px;

			> li {
				padding: 0 15px;
			}

			.cert-item {

				a {
					top: 7%;
					left: 10%;
					right: 10%;
				}
			}
		}
	}

	@media (min-width: $screen-md-min) {

		.cert-list {

			.cert-item {
				width: 255px;
				margin: 0 auto;
				position: relative;

				a {
					top: 28px;
					left: 28px;
					right: 27px;
				}
			}
		}

	}

	@media (min-width: $screen-lg-min) {
		padding-top: 65px;
		padding-bottom: 70px;

		h2 {
			margin-bottom: 60px;
		}

		.cert-list {
			margin: 0 50px;
		}
	}
}


// Reviews

.reviews {
	padding-top: 30px;
	padding-bottom: 40px;
	background: #f5f3f4;

	h2 {
		text-align: center;
		margin-bottom: 30px;
	}

	.review-slider {
		margin: 0 auto;
		width: 240px;
		position: relative;

		.review-slider-item {
			border: none;
			outline: none;
			padding: 10px 15px;
		}

		.slide-nav {
			top: 50%;
			z-index: 10;
			width: 16px;
			height: 29px;
			cursor: pointer;
			margin-top: -15px;
			position: absolute;
			display: inline-block;
			background: url("../images/slider_arrow.png") 0 0 no-repeat;

			&.prev {
				left: -20px;
			}

			&.next {
				right: -20px;
				@include rotate(180deg);
			}

			&:hover {
				@include opacity(0.7);
			}
		}
	}

	.review-item {
		margin: 0 auto;
		background: #fff;
		position: relative;
		@include clearfix();
		@include box-shadow(0px 0px 7px 0px rgba(28, 35, 37, 0.2));

		.review-image {
			margin: 0 auto;
		}

		.review-content {
			padding: 15px;


			.review-author {
				font-size: 16px;
				font-weight: 700;
				line-height: 1.1;
				color: $color-blue;
				margin-bottom: 3px;
			}

			.review-staff {
				font-size: 14px;
				line-height: 18px;
				color: #23cbff;
				font-weight: 300;
				margin-bottom: 5px;
			}

			.review-text {
				font-size: 13px;
				line-height: 16px;
				margin-bottom: 5px;
			}

			.review-full {
				text-decoration: none;

				span {
					text-decoration: underline;
				}

				i {
					margin-left: 8px;
				}

				&:hover {


					span {
						text-decoration: none;
					}
				}
			}
		}
	}

	@media (min-width: $screen-xs-min) {
		padding-top: 50px;
		padding-bottom: 60px;

		.review-slider {
			width: auto;
			margin: 0 30px;

			.slide-nav {

				&.prev {
					left: -30px;
				}

				&.next {
					right: -30px;
				}
			}
		}

		.review-item {

			.review-image {
				float: left;
				width: 160px;
			}

			.review-content {
				margin-left: 160px;
				padding: 20px 15px 20px 30px;
			}
		}
	}

	@media (min-width: $screen-sm-min) {
		padding-top: 50px;
		padding-bottom: 60px;

		.review-item {

			.review-image {
				width: 160px;
			}

			.review-content {
				margin-left: 160px;
				padding: 15px 15px 15px 30px;

				.review-author {

				}


				.review-text {

				}
			}
		}
	}

	@media (min-width: $screen-md-min) {

		.review-slider {
			margin: 0 65px;

			.slide-nav {

				&.prev {
					left: -50px;
				}

				&.next {
					right: -50px;
				}
			}
		}

		.review-item {

			.review-image {
				width: 160px;
			}

			.review-content {
				margin-left: 160px;


				.review-author {
					font-size: 18px;
				}


				.review-text {
					font-size: 14px;
					line-height: 18px;
				}
			}
		}
	}


	@media (min-width: $screen-lg-min) {
		padding-top: 60px;
		padding-bottom: 70px;

		h2 {
			margin-bottom: 60px;
		}

		.review-slider {
			margin: 0 80px;

			.slide-nav {

				&.prev {
					left: -80px;
				}

				&.next {
					right: -80px;
				}
			}
		}

		.review-item {

			.review-image {
				width: 160px;
			}

			.review-content {
				margin-left: 160px;

				.review-text {
					font-size: 14px;
					line-height: 18px;
				}
			}
		}
	}
}


// Book

.book {
	background: #fff;
	padding-top: 30px;
	padding-bottom: 40px;

	.book-inner {
		z-index: 10;
		position: relative;
	}

	.book-image {
		z-index: 5;
		width: 1px;
		height: 1px;
		overflow: hidden;
		position: absolute;
		@include opacity(0);
		visibility: hidden;
	}

	h2 {
		text-align: center;
		margin-bottom: 30px;

		strong {
			font-weight: 400;
			color: $color-blue;
		}
	}

	.book-content {
		font-size: 16px;
		line-height: 27px;
		margin-bottom: 35px;
	}

	.book-button {
		text-align: center;
	}

	@media (min-width: $screen-sm-min) {
		padding-top: 50px;
		padding-bottom: 60px;

		.book-image {
			right: 30px;
			bottom: 65px;
			width: 450px;
			height: auto;
			visibility: visible;
			@include opacity(1);
		}

		.book-content {
			width: 360px;
		}
	}


	@media (min-width: $screen-md-min) {
		padding-top: 45px;

		.book-inner {
			width: 450px;
		}

		.book-image {
			right: 45px;
			width: 760px;
			bottom: -35px;
		}

		h2 {
			font-size: 40px;
			line-height: 60px;
			text-align: left;
		}

		.book-content {
			width: 100%;
		}

		.book-button {
			text-align: left;
		}
	}

	@media (min-width: $screen-lg-min) {
		padding-top: 90px;
		padding-bottom: 100px;

		.book-inner {
			width: 550px;
		}

		.book-image {
			right: 50px;
			width: 800px;
			bottom: -80px;
		}

		h2 {
			font-size: 50px;
			margin-bottom: 30px;
		}
	}
}


.order {
	padding-top: 30px;
	padding-bottom: 60px;
	background: #fff;

	h2 {
		text-align: center;
		margin-bottom: 20px;
	}

	.subtitle {
		max-width: 750px;
		font-size: 16px;
		line-height: 24px;
		text-align: center;
		margin: 0 auto 30px auto;
	}

	.order-block {
		margin: 0 auto;
		max-width: 400px;
		background: #fff;
		padding: 20px 20px;
		position: relative;
		@include box-shadow(0px 5px 18px 0px rgba(0, 0, 0, 0.15));

		.order-title-sm {
			font-size: 24px;
			line-height: 1.25;
			text-align: center;
			margin-bottom: 20px;
			font-family: $font-second;
		}

		.order-content {
			@include clearfix();
			margin-bottom: 20px;

			.order-image {
				display: none;
			}

			.order-title {
				font-size: 30px;
				line-height: 32px;
				text-align: center;
				margin-bottom: 20px;
				font-family: $font-second;
			}

			.order-form-subtitle {
				font-size: 14px;
				max-width: 320px;
				line-height: 22px;
				text-align: center;
				margin: 0 auto 20px auto;
			}

			.btn {
				margin-top: 25px;
			}
		}


		.order-form-text {
			color: #83888c;
			margin: 0 auto;
			font-size: 12px;
			line-height: 18px;
			max-width: 390px;
			padding-top: 20px;

			.icr-label {
				font-size: 12px;
				line-height: 18px;
			}
		}
	}


	@media (min-width: $screen-sm-min) {

		h2 {
			margin-bottom: 25px;
		}

		.subtitle {
			font-size: 18px;
			line-height: 28px;
			margin-bottom: 40px;
		}

		.order-block {
			max-width: 530px;
			padding: 20px 15px;

			.order-title-sm {
				font-size: 24px;
			}

			.order-content {
				margin: 0 -15px;

				> li {
					float: left;
					width: 50%;
					padding: 0 15px;
					min-height: 1px;
				}

				.order-image {
					display: block;
					padding-top: 50px;
				}
			}
		}
	}

	@media (min-width: $screen-md-min) {

		h2 {
			margin-bottom: 40px;
		}

		.order-block {
			padding: 0;
			max-width: inherit;
			@include box-shadow(none);
			@include border-radius(4px);

			.order-form {
				padding: 30px 45px 125px 45px;
				@include box-shadow(0px 5px 18px 0px rgba(0, 0, 0, 0.15));
			}

			.order-form-text {
				right: 56px;
				width: 340px;
				bottom: 40px;
				max-width: inherit;
				position: absolute;
			}

			.order-content-title {
				font-size: 18px;
				line-height: 28px;
				margin-bottom: 40px;
			}

			.order-content {

				.order-form-text {
					max-width: 486px;
				}

				.order-image {
					max-width: inherit;
					padding: 20px 20px 0 50px;

				}
			}
		}
	}


	@media (min-width: $screen-lg-min) {

		h2 {
			margin-bottom: 25px;
		}

		.subtitle {
			font-size: 22px;
			line-height: 34px;
		}

		.order-block {

			.order-form-text {
				width: 450px;
				bottom: 50px;
				max-width: inherit;
			}

			.order-form {
				padding: 30px 45px 110px 45px;
				@include box-shadow(0.5s);
			}
		}
	}
}


// Page

.page {
	padding-top: 35px;
	padding-bottom: 50px;
}

.gallery {
	padding-top: 25px;
	background: #f5f3f4;
	padding-bottom: 40px;

	h2 {
		text-align: center;
		margin-bottom: 20px;
	}

	.gallery-slider {
		margin: 0 10px;

		.gallery-item {
			border: none;
			outline: none;
			padding: 10px 15px;

			a {
				margin: 0 auto;
				display: block;
				max-width: 445px;
				position: relative;
				@include box-shadow(0px 0px 7px 0px rgba(28, 35, 37, 0.2));


				&:before {
					top: 50%;
					left: 50%;
					z-index: 5;
					content: '';
					width: 48px;
					height: 48px;
					position: absolute;
					visibility: hidden;
					margin: -24px 0 0 -24px;
					background: url("../images/icon_loop.png") 0 0 no-repeat;
					@include opacity(0);
				}

				&:after {
					top: 0;
					left: 0;
					right: 0;
					bottom: 0;
					z-index: 3;
					content: '';
					visibility: hidden;
					position: absolute;
					background: rgba(51,204,253,0.7);
					@include opacity(0);
				}

				&:hover {

					&:after,
					&:before {
						visibility: visible;
						@include opacity(1);
					}
				}
			}
		}

		.slide-nav {
			top: 50%;
			z-index: 10;
			width: 16px;
			height: 29px;
			cursor: pointer;
			margin-top: -15px;
			position: absolute;
			display: inline-block;
			background: url("../images/slider_arrow.png") 0 0 no-repeat;

			&.prev {
				left: -10px;
			}

			&.next {
				right: -10px;
				@include rotate(180deg);
			}

			&:hover {
				@include opacity(0.7);
			}
		}
	}


	@media (min-width: $screen-sm-min) {

		.gallery-slider {

			.gallery-item {
				padding: 0 15px;
			}
		}
	}

	@media (min-width: $screen-md-min) {
		padding-top: 45px;
		padding-bottom: 55px;

		.gallery-slider {
			margin: 0 60px;

			.gallery-item {

			}

			.slide-nav {

				&.prev {
					left: -60px;
				}

				&.next {
					right: -60px;
				}
			}
		}
	}

	@media (min-width: $screen-lg-min) {
		padding-top: 60px;
		padding-bottom: 70px;

		h2 {
			margin-bottom: 40px;
		}

		.gallery-slider {
			margin: 0 80px;

			.gallery-item {

			}

			.slide-nav {

				&.prev {
					left: -80px;
				}

				&.next {
					right: -80px;
				}
			}
		}
	}
}

.content {
	font-size: 16px;
	line-height: 24px;

	ul {
		margin-bottom: 15px;

		li {
			padding-left: 10px;
			position: relative;

			&:before {
				left: 0;
				top: 6px;
				width: 5px;
				height: 11px;
				content: ' ';
				position: absolute;
				border: 1px solid $color-blue;
			}
		}
	}

	@media (min-width: $screen-md-min) {

		ul {
			padding-left: 35px;
			margin-bottom: 15px;

			li {

			}
		}

	}

	@media (min-width: $screen-lg-min) {
		font-size: 18px;
		line-height: 28px;

		ul {
			padding-left: 35px;
			margin-bottom: 15px;

			li {

			}
		}

	}
}

.content-box {
	font-size: 16px;
	line-height: 28px;
}

.doctor {
	position: relative;

	.doctor-info {
		position: relative;
		margin: 0 0 10px 0;
		padding: 0 0 20px 0;
		border-bottom: 1px solid #e3e3e3;

		.doctor-photo {
			width: 140px;
			overflow: hidden;
			margin: 0 auto 25px auto;
			@include border-radius(50%);
		}

		ul {
			margin: 0;
			padding: 0;
			list-style: none;
		}

		li {
			font-size: 16px;
			line-height: 24px;
			margin-bottom: 10px;
		}
	}

	@media (min-width: $screen-xs-min) {

		.doctor-info {
			padding-right: 165px;

			.doctor-photo {
				top: -15px;
				right: 0;
				margin: 0;
				position: absolute;

			}
		}
	}

	@media (min-width: $screen-sm-min) {

		h1 {
			width: 450px;
		}

		.doctor-info {
			width: 410px;
			padding-right: 0;

			.doctor-photo {
				top: -60px;
				left: 100%;
				width: 280px;
				margin-left: 20px;
			}

			ul {

			}

			li {
				margin-bottom: 5px;

				&:last-child {
					margin-bottom: 0;
				}
			}
		}
	}

	@media (min-width: $screen-md-min) {

		h1 {
			width: 595px;
		}

		.doctor-info {
			width: 595px;
			margin-bottom: 5px;
			padding-bottom: 15px;

			.doctor-photo {
				margin-left: 30px;
			}
		}
	}

	@media (min-width: $screen-lg-min) {

		h1 {
			width: 730px;
		}

		.doctor-info {
			width: 730px;
			margin-bottom: 20px;
			padding-bottom: 20px;

			.doctor-photo {
				width: 350px;
			}

			li {
				font-size: 18px;
				line-height: 26px;
				margin-bottom: 10px;
			}
		}
	}

}

.filter {
	margin-bottom: 20px;

	> ul {
		margin: 0 -15px;
		@include clearfix();

		> li {
			float: left;
			width: 100%;
			height: 65px;
			padding: 0 15px;
			position: relative;
			margin-bottom: 10px;
		}
	}

	@media (min-width: $screen-sm-min) {

		> ul {

			> li {
				width: 33.33%;
			}
		}
	}

	@media (min-width: $screen-lg-min) {

		> ul {

			> li {
				width: 20%;
			}
		}
	}
}

.sort-bar {
	margin-bottom: 10px;
	@include clearfix();

	> li {
		margin-bottom: 20px;
		@include clearfix();

		&:last-child {
			margin-bottom: 0;
		}
	}

	.sort-label {
		width: auto;
		font-size: 18px;
		font-weight: 700;
		line-height: 20px;
		margin-bottom: 5px;
		display: inline-block;
	}

	.sort-text {
		font-size: 18px;
		line-height: 20px;
		display: inline-block;
	}

	@media (min-width: $screen-sm-min) {

		> li {
			margin-bottom: 0;

			&:first-child {
				float: left;
			}

			&:last-child {
				float: right;
			}
		}
	}
}

.clinic {
	margin-bottom: 30px;

	>ul  {
		padding: 12px 15px;
		@include clearfix();

		&:nth-child(odd) {
			background: #f5f3f4;
		}

		&:nth-child(even) {
			background: #fff;
		}


		&.clinic-header {
			padding: 0;
			background: #095771;
			@include border-radius(6px);

			> li {
				color: #fff;
				display: none;
				font-size: 18px;
				font-weight: 700;
				padding: 15px 20px;
				line-height: 21px;

				&:nth-child(1) {
					width: 100%;
					display: block;
				}

				&:nth-child(5) {

					span {
						display: none;
					}
				}
			}
		}

		> li {
			float: left;
			padding-right: 8px;
			font-size: 16px;
			line-height: 20px;

			&:nth-child(1) {
				width: 100%;
				padding-bottom: 10px;

				a {
					color: #095771;
					border-bottom: 1px solid #d5dde1;

					&:hover {
						border-bottom-color: transparent;
					}
				}
			}

			&:nth-child(2) {

			}

			&:nth-child(3) {

			}

			&:nth-child(4) {

			}
			&:nth-child(5) {
				width: 100%;
				padding-top: 10px;

				a {
					color: $color-blue;
					border-bottom: 1px solid #d0eaf6;

					&:hover {
						border-bottom-color: transparent;
					}
				}

				span {
					display: none;
				}
			}

		}
	}

	@media (min-width: $screen-md-min) {

		> ul {
			padding: 0;
			width: 100%;
			display: table;

			&.clinic-header {

				> li {
					display: table-cell;

					&:nth-child(1) {
						width: 360px;
						display: table-cell;

					}
				}
			}


			> li {
				float: none;
				padding: 10px 15px;
				display: table-cell;
				vertical-align: middle;

				&:nth-child(1) {
					width: 360px;
					padding-bottom: 10px;
				}

				&:nth-child(2) {
					width: auto;
				}

				&:nth-child(3) {
					width: auto;
				}

				&:nth-child(4) {
					width: 190px;
				}

				&:nth-child(5) {
					width: 130px;
				}

			}
		}
	}


	@media (min-width: $screen-lg-min) {

		> ul {

			&.clinic-header {

				> li {

					&:nth-child(5) {

						span {
							display: inline;
						}

					}
				}
			}

			> li {

				&:nth-child(5) {
					width: 300px;
					text-align: center;

					span {
						display: inline;
					}
				}
			}
		}
	}
}

.map {
	height: 450px;
	background: #c7ccd1;

	@media (min-width: $screen-sm-min) {
		height: 500px;
	}
}

.map-address {
	font-size: 16px;
	line-height: 20px;

	p {
		margin-bottom: 5px;
	}

	a {
		font-size: 24px;
		line-height: 28px;
		margin-bottom: 6px;
		display: inline-block;
		font-family: $font-second;
	}
}



@media (min-width: $screen-sm-min) {

}

@media (min-width: $screen-md-min) {

}

@media (min-width: $screen-lg-min) {

}
