@font-face {
	font-family:'AGAvalancheC';
	src: url('../fonts/AGAvalancheC/AGAvalancheC.eot');
	src: url('../fonts/AGAvalancheC/AGAvalancheC.eot?#iefix') format('embedded-opentype'),
	url('../fonts/AGAvalancheC/AGAvalancheC.woff2') format('woff2'),
	url('../fonts/AGAvalancheC/AGAvalancheC.woff') format('woff'),
	url('../fonts/AGAvalancheC/AGAvalancheC.ttf') format('truetype'),
	url('../fonts/AGAvalancheC/AGAvalancheC.svg#AGAvalancheC') format('svg');
	font-weight: 400;
	font-style: normal;
	font-stretch: normal;
	unicode-range: U+0020-0490;
}

@font-face {
	font-family:'AGAvalancheC';
	src: url('../fonts/AGAvalancheC/AGAvalancheC-Bold.eot');
	src: url('../fonts/AGAvalancheC/AGAvalancheC-Bold.eot?#iefix') format('embedded-opentype'),
	url('../fonts/AGAvalancheC/AGAvalancheC-Bold.woff2') format('woff2'),
	url('../fonts/AGAvalancheC/AGAvalancheC-Bold.woff') format('woff'),
	url('../fonts/AGAvalancheC/AGAvalancheC-Bold.ttf') format('truetype'),
	url('../fonts/AGAvalancheC/AGAvalancheC-Bold.svg#AGAvalancheC-Bold') format('svg');
	font-weight: 700;
	font-style: normal;
	font-stretch: normal;
	unicode-range: U+0020-0490;
}

@font-face {
	font-family:'AGAvalancheC';
	src: url('../fonts/AGAvalancheC/AGAvalancheC-BoldItalic.eot');
	src: url('../fonts/AGAvalancheC/AGAvalancheC-BoldItalic.eot?#iefix') format('embedded-opentype'),
	url('../fonts/AGAvalancheC/AGAvalancheC-BoldItalic.woff2') format('woff2'),
	url('../fonts/AGAvalancheC/AGAvalancheC-BoldItalic.woff') format('woff'),
	url('../fonts/AGAvalancheC/AGAvalancheC-BoldItalic.ttf') format('truetype'),
	url('../fonts/AGAvalancheC/AGAvalancheC-BoldItalic.svg#AGAvalancheC-BoldItalic') format('svg');
	font-weight: 700;
	font-style: italic;
	font-stretch: normal;
	unicode-range: U+0020-0490;
}

@font-face {
	font-family:'AGAvalancheC';
	src: url('../fonts/AGAvalancheC/AGAvalancheC-Italic.eot');
	src: url('../fonts/AGAvalancheC/AGAvalancheC-Italic.eot?#iefix') format('embedded-opentype'),
	url('../fonts/AGAvalancheC/AGAvalancheC-Italic.woff2') format('woff2'),
	url('../fonts/AGAvalancheC/AGAvalancheC-Italic.woff') format('woff'),
	url('../fonts/AGAvalancheC/AGAvalancheC-Italic.ttf') format('truetype'),
	url('../fonts/AGAvalancheC/AGAvalancheC-Italic.svg#AGAvalancheC-Italic') format('svg');
	font-weight: 400;
	font-style: italic;
	font-stretch: normal;
	unicode-range: U+0020-0490;
}

@font-face {
	font-family:'JakobC';
	src: url('../fonts/JakobC/JakobC.eot');
	src: url('../fonts/JakobC/JakobC.eot?#iefix') format('embedded-opentype'),
	url('../fonts/JakobC/JakobC.woff2') format('woff2'),
	url('../fonts/JakobC/JakobC.woff') format('woff'),
	url('../fonts/JakobC/JakobC.ttf') format('truetype'),
	url('../fonts/JakobC/JakobC.svg#JakobC') format('svg');
	font-weight: 400;
	font-style: normal;
	font-stretch: normal;
	unicode-range: U+0020-0491;
}

@font-face {
	font-family:'JakobC';
	src: url('../fonts/JakobC/JakobC-Bold.eot');
	src: url('../fonts/JakobC/JakobC-Bold.eot?#iefix') format('embedded-opentype'),
	url('../fonts/JakobC/JakobC-Bold.woff2') format('woff2'),
	url('../fonts/JakobC/JakobC-Bold.woff') format('woff'),
	url('../fonts/JakobC/JakobC-Bold.ttf') format('truetype'),
	url('../fonts/JakobC/JakobC-Bold.svg#JakobC-Bold') format('svg');
	font-weight: 700;
	font-style: normal;
	font-stretch: normal;
	unicode-range: U+0020-0491;
}