.footer {
	color: #fff;
	background: #085771;

	.footer-top {
		position: relative;
		padding-top: 30px;
		padding-bottom: 20px;
		@include clearfix();
	}

	.footer-logo {
		width: 1px;
		height: 1px;
		display: block;
		position: absolute;
		visibility: hidden;
		@include opacity(0);
	}

	.footer-nav {
		margin: 0;
		padding: 0;
		float: left;
		display: none;
		list-style: none;

		> li {
			margin-bottom: 10px;

			a {
				color: #ffffff;
				font-size: 17px;
				line-height: 20px;
				text-decoration: none;
				border-bottom: 1px solid transparent;

				&:hover {
					color: $color-blue;
					text-decoration: none;
					border-bottom-color: $color-blue;
				}
			}
		}
	}

	.footer-content {

		.footer-buttons {
			width: 290px;
			font-size: 0;
			line-height: 0;
			margin: 0 auto 20px auto;
			@include clearfix();

			> li {
				float: left;
				margin-right: 10px;

				&:last-child {
					margin-right: 0;
				}

				a {
					color: #fff;
					height: 38px;
					font-size: 20px;
					padding: 8px 8px;
					line-height: 20px;
					text-align: center;
					text-decoration: none;
					display: inline-block;
					border: 1px solid #33ccfd;
					@include border-radius(5px);

					&:hover {
						background: #33ccfd;
					}

					&.footer-auth {
						width: 38px;
						height: 38px;
						background: url("../images/footer_key.png") 50% 50% no-repeat;

						&:hover {
							background-color: #33ccfd;
						}
					}
				}
			}
		}

		.footer-contact {
			margin: 0;
			padding: 0;
			font-size: 16px;
			line-height: 24px;
			list-style: none;
			text-align: center;
			@include clearfix();

			li {

				&:first-child {
					margin-bottom: 10px;
				}

				a {
					color: #fff;
					text-decoration: none;

					&.email {
						text-decoration: underline;

						&:hover {
							text-decoration: none;
						}
					}
				}
			}
		}
	}

	.footer-bottom {
		padding-top: 20px;
		padding-bottom: 20px;
		border-top: 1px solid #3a798d;
		@include clearfix();

		.footer-social {
			padding: 0;
			font-size: 0;
			line-height: 0;
			margin: 0 -4px;
			list-style: none;
			@include clearfix();
			text-align: center;

			> li {
				padding: 0 4px;
				display: inline-block;

				a {
					width: 32px;
					height: 32px;
					overflow: hidden;
					display: inline-block;
					@include border-radius(50%);

					img {
						@include img-responsive(inline-block);
					}
				}
			}
		}

		.footer-copy {
			font-size: 16px;
			line-height: 20px;
			padding-top: 15px;
			text-align: center;
		}
	}

	@media (min-width: $screen-xs-min) {

		.footer-content {

			.footer-contact {
				margin: 0 -15px;
				text-align: left;

				> li {
					width: 50%;
					float: left;
					padding: 0 15px;

					&:first-child {
						float: right;
						margin-bottom: 0;
					}
				}
			}
		}
	}

	@media (min-width: $screen-sm-min) {

		.footer-logo {
			float: left;
			width: 214px;
			height: auto;
			position: relative;
			visibility: visible;
			@include opacity(1);
		}

		.footer-content {
			margin-left: 300px;

			.footer-buttons {
				width: auto;
				margin: 0 0 20px 0;
			}

			.footer-contact {
				margin: 0;

				> li {
					padding: 0;
					width: 100%;
				}
			}
		}

		.footer-bottom {

			.footer-social {
				float: right;
				text-align: right;
			}

			.footer-copy {
				float: left;
				padding-top: 5px;
			}
		}
	}

	@media (min-width: $screen-md-min) {

		.footer-content {
			margin-left: 310px;
		}
	}

	@media (min-width: $screen-lg-min) {

		.footer-logo {
			margin-right: 71px;
		}

		.footer-nav {
			width: 190px;
			display: block;
		}

		.footer-content {
			float: left;
			width: 650px;
			margin-left: 0;
		}
	}
}

