.header {
	z-index: 200;
	height: 75px;
	background: #fff;
	position: relative;

	.container {
		padding-top: 10px;
		padding-bottom: 10px;
	}

	.topnav-toggle {
		top: 20px;
		left: 15px;
		color: #333;
		width: 30px;
		height: 30px;
		font-size: 0;
		line-height: 0;
		padding: 3px 0;
		position: absolute;
		display: inline-block;
		text-decoration: none;

		span {
			left: 50%;
			width: 100%;
			height: 4px;
			margin-left: -15px;
			background: #333;
			position: absolute;
			display: inline-block;
			@include border-radius(3px);
			@include transition(.3s);

			&:nth-child(1) {
				top: 3px;
			}

			&:nth-child(2) {
				top: 13px;
			}

			&:nth-child(3) {
				top: 23px;
			}
		}

		&.open {

			span {

				&:nth-child(1) {
					top: 13px;
					@include rotate(45deg);
					@include transition(.3s);
				}

				&:nth-child(2) {
					display: none;
				}

				&:nth-child(3) {
					top: 13px;
					@include rotate(-45deg);
					@include transition(.3s);
				}
			}
		}
	}

	.contact-toggle {
		top: 20px;
		right: 15px;
		color: #333;
		height: 30px;
		font-size: 30px;
		line-height: 30px;
		position: absolute;
		display: inline-block;
		text-decoration: none;
	}

	.header-logo {
		width: 180px;
		margin: 0 auto;
		display: block;
	}

	.header-contact {
		color: #fff;
		left: 0;
		right: 0;
		top: 75px;
		display: none;
		padding: 30px 15px;
		background: #005672;
		@include clearfix();
		position: absolute;

		.header-phone {
			margin: 0;
			padding: 0;
			text-align: center;
			list-style: none;

			li {

				&:first-child {
					display: none;
				}

				&:last-child {
					display: none;
				}
			}

			.header-phone-title {
				color: #808080;
				font-size: 16px;
				line-height: 20px;
				margin-bottom: 5px;
			}

			.header-tel {
				color: #fff;
				display: inline-block;
				padding: 1px 0 1px 50px;
				font-size: 32px;
				line-height: 32px;
				position: relative;
				margin-bottom: 20px;
				font-family: $font-base;

				a {
					color: #fff;
					text-decoration: none;
				}

				span {
					top: 0;
					left: 0;
					width: 32px;
					height: 32px;
					padding: 5px 0;
					display: block;
					color: #005672;
					font-size: 22px;
					line-height: 22px;
					text-align: center;
					position: absolute;
					background: #ffffff;
					@include border-radius(50%);
				}
			}

			.header-callback {
				color: $color-blue;
				font-size: 18px;
				line-height: 20px;
				text-decoration: none;
				border-bottom: 1px solid #d7f3ff;

				&:hover {
					border-bottom-color: transparent;
				}
			}
		}

		.header-social {
			margin: 0;
			padding: 0;
			list-style: none;
			text-align: center;

			li {
				color: #fff;
				height: 30px;
				min-width: 32px;
				font-size: 24px;
				line-height: 24px;
				position: relative;
				margin-bottom: 20px;

				&:last-child {
					font-size: 22px;
					margin-bottom: 0;
				}

				i {
					top: 0;
					left: 0;
					display: block;
					position: absolute;
				}

				span {
					font-family: $font-base
				}

				a {
					color: #fff;
					width: 290px;
					text-align: left;
					position: relative;
					display: inline-block;
					text-decoration: none;
					padding: 3px 0 3px 50px;
				}
			}
		}

		.btn-callback {
			color: #34ccff;
			font-size: 24px;
			line-height: 30px;
			margin-top: 15px;
			display: inline-block;
			text-decoration: underline;

			&:hover {
				text-decoration: none;
			}
		}
	}

	@media (min-width: $screen-sm-min) {
		height: auto;
		padding: 2px 0;

		.header-logo {
			float: left;
			width: 206px;
			margin-top: 8px;
		}

		.topnav-toggle {
			display: none;
		}

		.contact-toggle {
			display: none;
		}

		.header-contact {
			top: auto;
			left: auto;
			padding: 0;
			right: auto;
			float: right;
			display: block;
			position: relative;
			background: transparent;

			.header-phone {
				float: right;
				text-align: center;

				li {

					&:first-child {
						display: block;
					}

					&:last-child {
						display: block;
					}
				}

				.header-tel {
					margin: 0;
					font-size: 26px;
					font-weight: 700;
					line-height: 30px;
					padding: 0 0 0 30px;
					font-family: $font-second;

					a {
						color: #333333;
					}

					span {
						width: auto;
						height: 30px;
						padding: 3px 0;
						font-size: 24px;
						line-height: 24px;
						color: #333333;
						background: transparent;
					}
				}

			}

			.header-social {
				float: left;
				display: block;
				padding-top: 22px;
				margin-right: 30px;
				@include clearfix();

				li {
					float: left;
					font-size: 0;
					line-height: 0;
					margin-right: 8px;

					span {
						display: none;
					}

					a {
						width: 32px;
						height: 32px;
						padding: 0;
						display: inline-block;
					}
				}
			}
		}
	}

	@media (min-width: $screen-md-min) {

		.header-contact {


			.header-social {
				margin-right: 65px;
			}
		}
	}

	@media (min-width: $screen-lg-min) {

		.header-logo {
			width: 239px;
			margin-top: 0;
		}

		.header-contact {

			.header-social {
				margin-right: 100px;
			}
		}
	}
}

.topnav {
	left: 0;
	right: 0;
	top: 75px;
	z-index: 1000;
	display: none;
	position: absolute;

	.topnav-inner {
		min-height: 100vh;
		margin: 0 -15px;
		max-width: 320px;
		padding: 30px 15px;
		background: #005672;
	}


	.topnav-nav {
		margin: 0;
		padding: 0;
		font-size: 0;
		line-height: 0;
		text-align: left;
		list-style: none;

		> li {
			position: relative;

			> a {
				color: #fff;
				padding: 10px 0;
				font-size: 16px;
				line-height: 20px;
				position: relative;
				display: inline-block;
				text-decoration: none;
			}

			&:last-child {

				> a {
					padding-right: 35px;

					&:before {
						top: 10px;
						right: 0;
						width: 20px;
						height: 20px;
						content: '';
						position: absolute;
						display: inline-block;
						background: url("../images/icon_key.png") -20px 0 no-repeat;
					}
				}
			}
		}

		.dropnav {
			padding-left: 30px;

			> li {

				> a {
					color: #fff;
					padding: 5px 0;
					font-size: 16px;
					line-height: 20px;
					position: relative;
					display: inline-block;
					text-decoration: none;
				}

			}
		}
	}


	@media (min-width: $screen-sm-min) {
		top: auto;
		left: auto;
		right: auto;
		padding: 0;
		display: block;
		background: #fff;
		min-height: inherit;
		position: relative;
		border-top: 1px solid #e3e3e3;
		@include box-shadow(0 20px 20px 0 rgba(50, 50, 50, 0.2));

		.topnav-inner {
			margin: 0;
			padding: 0;
			max-width: inherit;
			min-height: inherit;
			background: top;
		}


		.topnav-nav {
			width: 100%;
			display: table;

			> li {
				margin: 0;
				display: table-cell;
				vertical-align: middle;

				> a {
					color: #333333;
					font-size: 17px;
					line-height: 21px;
					padding: 12px 10px;
					text-align: center;

					&:hover {
						color: $color-blue;
					}
				}

				&:active {

					> a {
						color: $color-blue;
					}
				}

				&:last-child {

					> a {
						padding: 0;
						width: 40px;
						height: 45px;

						&:before {
							top: 12px;
							right: 10px;
							background-position: 0 0;
						}

						span {

							display: none;
						}
					}
				}

				&:hover {

					> a {
						color: $color-blue;
					}

					.dropnav {
						visibility: visible;
						@include opacity(1);
						@include transition(0.3s);
					}
				}

				.dropnav {
					top: 100%;
					left: 0;
					display: block;
					padding: 20px;
					visibility: hidden;
					background: #f5f3f4;
					position: absolute;
					@include box-shadow(0px 10px 20px 0px rgba(28, 35, 37, 0.25));
					@include opacity(0);
					@include transition(0.3s);

					> li {

						> a {
							color: #333;
							padding: 10px;
							font-size: 16px;
							line-height: 20px;
							white-space: nowrap;
							text-decoration: none;

							&:hover {
								color: $color-blue;
							}
						}
					}
				}
			}

		}
	}

	@media (min-width: $screen-md-min) {

	}

	@media (min-width: $screen-lg-min) {

	}
}

