.modal {
	padding: 30px;
	max-width: 480px;
	background: #fff;

	.modal-heading {
		text-align: center;
		margin-bottom: 20px;

		.modal-title {
			font-size: 36px;
			line-height: 40px;
			margin-bottom: 10px;
			font-family: $font-second;
		}

		.modal-subtitle {
			margin: 0 auto;
			max-width: 410px;
			font-size: 16px;
			line-height: 22px;
		}
	}

	.modal-content {

		.modal-text {
			color: #83888c;
			margin: 0 auto;
			font-size: 12px;
			line-height: 18px;
			max-width: 410px;
			padding-top: 18px;
			text-align: center;
		}

		.btn {
			margin-top: 10px;
		}
	}

	@media (min-width: $screen-sm-min) {
		padding: 30px 45px;

		.modal-content {

			.modal-text {
				text-align: left;
			}
		}
	}

	@media (min-width: $screen-md-min) {
		width: 900px;
		max-width: inherit;
		padding: 45px 75px;
	}

	@media (min-width: $screen-lg-min) {
		width: 920px;
		padding: 45px 95px;
	}
}

.modal-review {
	max-width: 380px;
	color: #333333;
	font-size: 14px;
	font-weight: 300;
	line-height: 18px;
	background: #fff;
	padding: 20px;
	@include clearfix();

	.modal-review-image {
		width: 125px;
		float: left;
		margin: 0 15px 10px 0;
	}

	.modal-review-name {
		color: #23cbff;
		font-size: 16px;
		font-weight: 700;
		line-height: 20px;
		margin-bottom: 3px;
	}

	.modal-review-staff {
		color: #23cbff;
		font-weight: 300;
		margin-bottom: 6px;
	}

	p {
		margin-bottom: 10px;
	}

	.modal-close {
		margin:0;
		color: $color-blue;
		outline: none;
		cursor: pointer;
		font-size: 14px;
		font-weight: 400;
		line-height: 19px;
		padding: 2px 10px;
		text-align: center;
		position: relative;
		background: transparent;
		display: inline-block;
		text-decoration: none;
		vertical-align: middle;
		background-image: none;
		touch-action: manipulation;
		border: 1px solid $color-blue;
		@include border-radius(3px);
		@include transition(.3s);

		&:hover {
			color: #fff;
			background: $color-blue;
			text-decoration: none;
		}

		&:active {
		}
	}

	@media (min-width: $screen-sm-min) {
		width: 380px;
	}
}