.breadcrumb {
	margin: 0 0 25px 0;

	> li {
		font-size: 14px;
		line-height: 20px;
		display: inline-block;

		&:after {
			content: '/';
			padding: 0 7px;
		}

		&:last-child {

			&:after {
				display: none;
			}
		}

		a {
			color: #333333;
			display: inline-block;
			text-decoration: none;

			&:hover {
				color: $color-blue;
			}

			&:hover {
				text-decoration: none;
			}
		}
	}
}
