.btn {
	margin:0;
	color: #fff;
	border: none;
	outline: none;
	cursor: pointer;
	font-size: 18px;
	font-weight: 400;
	line-height: 20px;
	padding: 13px 22px;
	text-align: center;
	position: relative;
	background: $color-blue;
	display: inline-block;
	text-decoration: none;
	vertical-align: middle;
	background-image: none;
	touch-action: manipulation;
	@include border-radius(4px);
	@include transition(.3s);
	@include box-shadow(0px 0px 7px 0px rgba(28, 35, 37, 0.2));

	&:hover {
		color: #fff;
		background: $color-blue-light;
		text-decoration: none;
	}

	&:active {
		@include box-shadow(none);
	}

	@media (min-width: $screen-sm-min) {
		padding: 18px 45px;
	}
}

.btn-border {
	margin:0;
	color: $color-blue;
	outline: none;
	cursor: pointer;
	font-size: 18px;
	font-weight: 400;
	line-height: 20px;
	padding: 6px 15px;
	text-align: center;
	position: relative;
	background: transparent;
	display: inline-block;
	text-decoration: none;
	vertical-align: middle;
	background-image: none;
	touch-action: manipulation;
	border: 1px solid $color-blue;
	@include border-radius(5px);
	@include transition(.3s);

	&:hover {
		color: #fff;
		background: $color-blue;
		text-decoration: none;
	}

	&:active {
	}

	@media (min-width: $screen-xs-min) {
		font-size: 18px;
		padding: 13px 25px;
	}

	@media (min-width: $screen-sm-min) {
		padding: 18px 30px;
	}
}