.form-control {
	margin: 0;
	width: 100%;
	color: #333;
	outline: none;
	font-size: 14px;
	line-height: 20px;
	padding: 9px 12px;
	background: #ffffff;
	display: inline-block;
	border: 1px solid #c5cbd0;
	@include placeholder(#333);
	@include border-radius(3px);
	@include box-shadow(inset 0px 2px 4px 0px rgba(21, 20, 21, 0.15));

	&::-ms-clear {
		display: none;
		width: 0;
		height: 0;
	}

	&:focus {
	//	@include placeholder(transparent);
	}
}

.form-select {
	width: 100%;
}

.form-label {
	font-size: 14px;
	line-height: 20px;
	padding-bottom: 5px;
}

label {
	font-weight: 400;
	display: block;
}

.icr-label {
	color: #333;
	font-size: 14px;
	line-height: 20px;
	padding-left: 22px;
	position: relative;
	display: inline-block;

	.icr-hidden {
		display: none;
	}

	.icr-item {
		left: 0;
		top: 3px;
		z-index: 2;
		width: 14px;
		height: 14px;
		font-size: 0;
		line-height: 0;
		position: absolute;
		display: inline-block;
		border: 1px solid #c7ccd1;
		@include box-shadow(inset 0px 2px 4px 0px rgba(21, 20, 21, 0.15));

		&.type_radio {
			@include border-radius(50%);

			&:before {
				top: 3px;
				left: 3px;
				z-index: 3;
				width: 6px;
				height: 6px;
				content: '';
				position: absolute;
				background: #33ccfd;
				display: inline-block;
				@include border-radius(50%);
				visibility: hidden;
				@include opacity(0);
			}
		}

		&.type_checkbox {
			@include border-radius(3px);

			&:before {
				top: 3px;
				left: 2px;
				z-index: 3;
				width: 8px;
				height: 6px;
				content: '';
				position: absolute;
				display: inline-block;
				background: url("../images/icon_check.png") 0 0 no-repeat;
				visibility: hidden;
				@include opacity(0);
			}
		}
	}

	.icr-text {

		a {
			color: #83888c;
			text-decoration: underline;

			&:hover {
				text-decoration: none;
			}
		}
	}

	&.checked {

		.icr-item {

			&.type_radio {

				&:before {
					visibility: visible;
					@include opacity(1);
				}
			}

			&.type_checkbox {

				&:before {
					visibility: visible;
					@include opacity(1);
				}
			}
		}
	}
}

.form-radio {
	position: relative;
	display: inline-block;

	input[type='radio'] {
		display: none;
	}

	span {
		color: #333;
		font-size: 14px;
		line-height: 20px;
		padding-left: 22px;
		display: inline-block;
		position: relative;

		&:before {
			left: 0;
			top: 3px;
			z-index: 2;
			width: 14px;
			height: 14px;
			font-size: 0;
			line-height: 0;
			content: '';
			position: absolute;
			display: inline-block;
			border: 1px solid #c7ccd1;
			@include box-shadow(inset 0px 2px 4px 0px rgba(21, 20, 21, 0.15));
			@include border-radius(50%);
		}


		&:after {
			top: 7px;
			left: 4px;
			z-index: 3;
			width: 6px;
			height: 6px;
			content: '';
			position: absolute;
			background: #33ccfd;
			display: inline-block;
			@include border-radius(50%);
			visibility: hidden;
			@include opacity(0);
		}
	}

	input[type='radio']:checked + span::after {
		visibility: visible;
		@include opacity(1);
	}
}

.label-group {
	padding: 10px 0;
	list-style: none;
	margin: 0 -8px 10px -8px;
	@include clearfix();

	> li {
		float: left;
		padding: 0 8px;
	}
}

.form-group {
	margin-bottom: 10px;
}

.selectric-wrapper {
	width: 100%;
	display: block;

	&.selectric-open {

		.selectric {
			border-bottom: none;
			@include border-radius(3px 3px 0 0);
		}
	}

	.selectric {
		width: 100%;
		display: block;
		color: #333;
		font-size: 18px;
		font-weight: 400;
		line-height: 20px;
		position: relative;
		overflow: hidden;
		text-align: left;
		background: #fff;
		padding: 9px 40px 9px 15px;
		border: 1px solid #c5cbd0;
		@include border-radius(3px);
		@include box-shadow(inset 0px 2px 4px 0px rgba(21, 20, 21, 0.15));

		.label {
			display: block;
			width: 100%;
			white-space: nowrap;
			max-width: 100%;
			overflow: hidden;
		}

		.button {
			top: 0;
			right: 0;
			width: 40px;
			height: 100%;
			padding: 2px 0;
			font-size: 0;
			line-height: 0;
			position: absolute;
			text-align: center;
			display: inline-block;
			background: url("../images/select_arrow.png") 10px 50% no-repeat;

			&:hover {
			}
		}
	}

	.selectric-items {
		background: #fff;
		border: 1px solid #c5cbd0;


		.selectric-scroll {

			ul {
				margin: 0;
				padding: 0;
				list-style: none;

				li {
					color: #333;
					font-size: 16px;
					line-height: 20px;
					padding: 3px 15px;
					cursor: pointer;

					&:hover {
						color: #333;
						background: #dfdfdf;
					}
				}
			}
		}
	}


	&.selectric-filter-select {

		.selectric {
			color: #212121;
			background: #e6e6e6;
			border-color: #4d4d4d;
		}

		.selectric-items {
			background: #fff;
			border: 1px solid #4d4d4d;

			ul {

				li {
					color: #212121;
				}
			}
		}
	}
}

.sort-select {
	border: none;
	outline: none;
	font-size: 18px;
	line-height: 20px;
	padding: 0 25px 0 0;
	-webkit-appearance: none;
	/* for FF */
	-moz-appearance: none;
	text-indent: 0.01px;
	text-overflow: '';
	/* for IE */
	-ms-appearance: none;
	appearance: none!important;
	background: url("../images/select_arrow.png") 100% 50% no-repeat;
}