.pagination {
	margin-bottom: 40px;
	@include clearfix();

	.pagination-title {
		float: left;
		font-size: 16px;
		font-weight: 700;
		line-height: 20px;
		display: inline-block;
	}

	ul {
		font-size: 0;
		line-height: 0;
		@include clearfix();

		li {
			float: left;
			padding: 0 4px;

			a {
				color: #333333;
				font-size: 16px;
				line-height: 20px;
				text-decoration: none;
				border-bottom: 1px solid transparent;

				&:hover {
					border-bottom-color: #b8b8b8;
				}
			}

			&.current {

				a {
					font-weight: 700;
					color: $color-blue;

					&:hover {
						border-bottom-color: transparent;
					}

					&:after {
						content: ')';
					}

					&:before {
						content: '(';
					}
				}
			}
		}
	}
}

